html,body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.debug-buttons {
  background-color: #dddddd;
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.root {
  width: 100%;
  height: 100%;
}

.knot {
  width: 100%;
  height: 100%;
  display: flex;
}

.tile {
  border: solid 1px #666666;
  width: 100%;
  height: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
}
.tile.focused {
  border: solid 1px #aa3311;
}
.new-window {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #dddddd;
  padding: 0px 8px;
}
.inner-view {
  width: 100%;
  height: 100%;
  flex: auto;
}

.address-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  color: #666666;
  border-bottom: solid 1px #999999;
  flex: auto;
}
.address-bar .refresh-button {
  cursor: pointer;
  margin: 0px 8px;
}
.address-bar .back-button {
  cursor: pointer;
  border: solid 1px #999999;
  margin-left: 8px;
  padding: 0px 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.address-bar .forward-button {
  cursor: pointer;
  border: solid 1px #999999;
  margin-right: 8px;
  padding: 0px 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.address-bar .address-input {
  flex: auto;
  width: 100%;
}

.omni-input {
  width: 100%;
  box-sizing: border-box;
  flex: auto;
}
