html,body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.root {
  width: 100%;
  height: 100%;
}

.knot {
  width: 100%;
  height: 100%;
  display: flex;
}

.tile {
  border: solid 1px #666666;
  width: 100%;
  height: 100%;
  flex: auto;
}

.tile.focused {
  border: solid 1px #aa3311;
}

.new-window {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #dddddd;
}

.initial-input {
  margin: 0px 8px;
  flex: auto;
}

.inner-view {
  width: 100%;
  height: 100%;
}
